/* Colouring of expressions */

.comparison-statement {
  color: #44f;
}

.element-name, .set-name {
  color: green;
}

.property-name {
  color: #e09;
}

.nary-statement, .forall, .exists, .negation,
.set-definition-extension, .predicate-definition,
.implies {
  color: #007;
}

.css-selector {
  color: #862;
}

.line-comment {
  color: darkred;
}

.comment {
  color: #80a;
}

.comment .attribute-name {
  color: #c6f;
}

.parenthesis {
  color: #aaa;
}

.cornipickle-code:hover .parenthesis {
  color: #444;
}

.predicate-call {
  cursor: pointer;
}

.predicate-call:hover {
  background: #ffc;
}

.predicate-call.highlighted, .predicate-call.highlighted:hover {
  border: solid 1px red;
  background: yellow;
}

.predicate-definition-item.highlighted {
  background: yellow;
  color: red;
}

.temporal-operator {
  color: #0aa;
}

.javascript-keyword {
	color: #c6f;
}

.javascript-fct {
  color: #0aa;
}