@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body {
  font-family: 'Droid Sans', sans-serif;
}

.clearer {
  clear: both;
}

ul.sets, ul.predicates, ul.verdicts  {
  font-family: 'Ubuntu Mono', monospace;
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.property-metadata {
  font-family: 'Ubuntu Mono', monospace;
}

ul.sets > li, ul.predicates > li,
ul.verdicts > li  {
  padding: 10pt;
  margin: 10pt;
  display: inline-block;
  vertical-align: middle;
  border: solid 1px darkgrey;
  border-radius: 4px;
  background: #ffe;
  box-shadow: 3px 3px 1px 0px rgba(50, 50, 50, 0.23);
}

ul.sets > li:hover, ul.predicates > li:hover,
ul.verdicts > li:hover  {
  background: #eee;
}

ul.verdicts li.false {
  background-color: #f99;
}

ul.verdicts li.true {
  background-color: #9f9;
}
